{% extends "DefaultLayout.html" %}
{% block content %}
<h1 class="mb-3 h2">SLCTFRM</h1>
    <p>
    Welcome to SLCTFRM's baseball database, a project created by Malik Mohamedali, Brandon Valiente, and Catharine Elrod.

Navigate to "Dashboard" if you wish to view your favorite team's roster, and "Baseball' if you would like to view the standings for a given year.
  </p>

    <div
class="bg-image"
style="
background-image: url('https://images.pexels.com/photos/1661950/pexels-photo-1661950.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
height: 500px;
width: 950px;
"
>

</div>
{% endblock content %}